modules = ["rust-stable", "dotnet-7.0", "bash"]
run = "cargo run"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "cargo run"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 43152999
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cargo run"
