[package]
name = "bsharp_diagnostics_macros"
version = "0.1.0"
edition = "2024"
license = "MPL-2.0"

[lib]
proc-macro = true

[dependencies]
proc-macro2 = "1"
quote = "1"
syn = { version = "2", features = ["full"] }
